# =========================================
# Gitignore para proyecto ESP-IDF en VSCode
# =========================================

# --------------------
# Build artifacts
# --------------------
/build/
/managed_components/
CMakeFiles/
CMakeCache.txt
compile_commands.json
*.ninja
cmake_install.cmake
*.flash_args
*.bootloader-flash_args
flash_args.in
bootloader-prefix

# --------------------
# SDK Configs
# --------------------
sdkconfig
sdkconfig.old
sdkconfig.ci*
sdkconfig.defaults    # opcional: mantener solo si quieres que sea parte del repo

# --------------------
# IDE / Editor
# --------------------
.vscode/
CMakeLists.txt.user
.devcontainer/
.clangd

# --------------------
# CI / Scripts locales
# --------------------
.ci/
dependencies.lock
project_description.json
kconfigs.in
kconfigs_projbuild.in
ldgen_libraries
ldgen_libraries.in
flash_project_args
flash_app_args
flash_bootloader_args
bootloader-flash_args
app-flash_args
flasher_args.json
partition-table-flash_args
config.env

# --------------------
# Logs / temporales
# --------------------
*.log
*.tmp

# --------------------
# Otros
# --------------------
index.html  # si es un archivo temporal, eliminarlo
gdbinit      # configuración local de depuración